{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<style>
	.custom-icon {
	  font-size: 2vw;
	}
  </style>
  
  
    <div class="row m-0 border border-dark border-5">
      
      <div class="col-2 bg-light m-0">
        <div class="fs-6">  <i class="bi bi-phone-vibrate-fill custom-icon"></i>Tel:<br> 0121 694 5000 </div>
      </div>

      <div class="col-8 d-flex justify-content-center bg-black text-success">

        <a href="http://www.twitter.com" target="_blank" title="Twitter link"> <i class="bi bi-twitter-x mx-3 custom-icon"></i> <p hidden>Twitter link</p> </a>
        <a href="https://www.tiktok.com/en/" target="_blank" title="Fb link"> <i class="bi bi-facebook mx-3 custom-icon"></i> <p hidden>Fb link</p> </a>
        <a href="https://www.tiktok.com/en/" target="_blank" title="Tiktok link"> <i class="bi bi-tiktok mx-3 custom-icon"></i> <p hidden>Tiktok link</p> </a>
        <a href="https://www.instagram.com" target="_blank" title="Instagram link"> <i class="bi bi-instagram mx-3 custom-icon"></i> <p hidden>Instagram link</p> </a>
      </div>

      <div class="col-2 bg-light m-0">
        <div class="fs-6"> <i class="bi bi-envelope-at-fill custom-icon"></i>  Email: <br> hello@sccb.ac.uk</div>
      </div>




</div>